{%extends "class/base.html"%}

{%block content%}

<div class="post_detail">
   {{entry.deatils|safe}} 
</div>

<div id="post-deatil-social-media">

            <strong><span> Share </span> </strong>
            <button onclick=facebook_share() style="background-color: #3b5998"><i
                    class="fa fa-facebook-official w3-hover-opacity"></i> Facebook</button>
            <button onclick=whatsapp_share()><i class="fa fa-whatsapp" aria-hidden="true"></i> whatsapp</button>

</div>
{%endblock%}