{%extends "class/base.html"%}

{%load static%}

{%block content%}

<div class = "parent">
    {%for company in entries_list%}
    <div class="child"> 
            <div style="text-align: center; font-size: 30px; font-weight: 600;"> {{company.Company_name}} </div>
            <div style="margin-top: 10px; font-size: 16px;"> {{company.discreption}} </div>
            <div style = "background-color: white; border-radius: 17px; text-align: center; margin-top: 5px;"> <a href="{%url 'class:Entry_detail' pk=company.pk%}"> Cause Detail </a></div>
            <div style="font-weight: 600;  margin-top: 5px"> Last date to Contribute {{company.last_date}} </div>
            <div style="background-color: rgba(0, 255, 242, 0.267); text-align: center;  margin-top: 5px"> <a href="{{company.application_url}}"> Click to Contribute </a> </div>
            <div>Published date {{company.published_date}} </div>
    </div>
    {%endfor%}
    
</div>
        

{%endblock%}