{%extends "users/base.html"%}
{%load crispy_forms_tags %}
{%block content%}

<div class="register-parent">

   <div class="register-parent2">
        <form method="POST">
            <!-- including the csrf token -->
            {%csrf_token%}
            <fieldset class="">
                <legend class="register-heading"> Join Today </legend>
                {{form|crispy}}
            </fieldset>

            <div id="submit-parent">
                <button type="submit" class="submit"> Register </button>
            </div>
        </form>
    </div>
    <div id="already-account">
        <span> Already have an account </span>
        <a class="link" href="{%url 'users:login' %}"> Sign in </a>
    </div>
</div>



{%endblock%}